/* Admin */
.addAdminButton {
  margin-top: 15px;
}

.admin-list-item {
  display: block;
}

.admin-list-item .li-left {
  float: left;
}

.admin-list-item .li-right {
  float: right;
}

/* Polls */

.header {
  margin-top: 20px;
}

.header h1 {
  display: inline;
}

.header .right {
  float: right;
}

.header .btn {
  padding: 10px 10px;
}

.poll-table {
  margin-top: 10px;
  margin-bottom: 25px !important;
}

.container-margin-bottom {
  margin-bottom: 50px;
}

/* Poll */

.voter-list {
  margin-top: 20px;
}

/* Login */

.login-card {
  width: 100%;
  align-items: center;
  width: 300px;
  padding: 30px 15px;
  margin: auto;
}

.login-text {
  padding-bottom: 10px;
}

.login-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading-spinner {
  margin-bottom: 10px;
}

.box-shadow {
  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 0px !important;
}

/* General */

.word-break {
  word-break: break-all;
}

.align-content-center {
  text-align: center;
}

/* Footer */

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #f5f5f5;
}

.footer .container {
  text-align: center;
}
