.continueButton{margin-bottom:40px;width:400px}.download-div{margin-top:30px}.download-div .btn{width:90px}.spinner-box{margin-bottom:10px}.progress-group{margin-top:25px}.container-margin-bottom{margin-bottom:120px}.button-box{padding-top:30px;background-color:hsla(0,0%,100%,.5647058823529412)}.progress{height:1.5rem}.save-file-spinner{margin-left:10px}.list-icon{text-align:center;display:inline-block;margin-bottom:5px}.list-row{margin-top:40px}.list-text{color:grey}
/*# sourceMappingURL=main.6fa7ec18.chunk.css.map */