body {
  background-color: #e9ecef !important;
}

.vote-button {
  margin-top: 20px;
}

.align-content-center {
  text-align: center;
}

/* https://www.w3schools.com/howto/howto_css_overlay.asp */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: block;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9ecef;
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.word-break {
  word-break: break-all;
}

.jumbotron {
  margin-bottom: 0px !important;
}

.qrsection {
  display: inline-block !important;
}

.qrcode-cancel-button {
  margin-top: 15px;
}

.list-group-item.active {
  background-color: #d4edda !important;
  border-color: #d4edda !important;
  color: #495057 !important;
}
